<div class="ui raised segment">
  <h2 class="ui header">SKU Form</h2>
  <form [formGroup]="skuFormGroup" (ngSubmit)="onSubmit(skuFormGroup.value, $event)" class="ui form">

    <div class="field">
      <label for="skuInput">SKU</label>
      <input type="text"
             id="skuInput"
             placeholder="SKU"
             [formControl]="skuFormGroup.controls['sku']">
    </div>

    <div class="field">
      <label for="nameInput">Name</label>
      <input type="text"
             id="nameInput"
             placeholder="Product Name"
             [formControl]="skuFormGroup.controls['name']">
    </div>

    <button type="submit" class="ui button primary">Submit</button>
  </form>
</div>
